<% if spa.favoreted_by?(current_user) %>
  <p>
    <%= link_to spa_favorites_path(spa), method: :delete do %>
      ♥<%= spa.favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to spa_favorites_path(spa), method: :post do %>
      ♡<%= spa.favorites.count %>
    <% end %>
  </p>
<% end %>
