<table>
  <thead>
    <% spa_comments.each do |spa_comment| %>
      <tr>
        <td>
          <%= link_to spa_comment.user.name, user_path(spa_comment.user.id) %>
        </td>
        <td><%= spa_comment.comment %></td>
        <td>感情分析スコア[<%= spa_comment.score%>]</td>
        <td>
          <% if spa_comment.user == current_user %>
            <div class="comment-delete">
              <%= link_to "削除", spa_spa_comment_path(spa_comment.spa, spa_comment), method: :delete, "data-confirm" => "本当によろしいですか？", class: 'btn btn-danger' %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </thead>
</table>